<!-- adicionar_professor.html -->
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adicionar Turma</title>
</head>

<body>
  <h1>Adicionar Turma</h1>
  <form action="{{ url_for('turmas.create_turma') }}" method="post">
    <label for="idade">Descricão da Turma:</label><br>
    <input type="text" id="descricao" name="descricao" required><br>
    
    <label for="status">Status:</label><br>
    <select id="status" name="status">
      <option value="True">Ativo</option>
      <option value="False">Desativado</option>
    </select><br><br>

    <input type="submit" value="Adicionar Turma">
  </form>
</body>

</html>