<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atualizar Turma</title>
</head>

<body>
  <h1>Atualizar Turma</h1>
  <form action="{{ url_for('turmas.update_turma', id_turma=turma.id) }}" method="POST"> <input type="hidden" name="_method" value="PUT">
    
    <label for="nome">Descricão da Turma:</label>
    <input type="text" id="descricao" name="descricao" value="{{ turma.descricao}}" required>

    <label for="status">Status:</label>
    <select id="status" name="status">
      <option value="True" {% if turma.status %}selected{% endif %}>Ativo</option>
      <option value="False" {% if not turma.status %}selected{% endif %}>Desativado</option>
    </select><br>
    
    <button type="submit">Atualizar</button>
  </form>
</body>

</html>
