<!-- detalhes_aluno.html -->
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalhes da Turma</title>
</head>

<body>
  <h1>Detalhes da Turma</h1>
  <p><strong>ID:</strong> {{ turmas.id }}</p>
  <p><strong>Descricão da turma:</strong> {{ turmas.descricao }}</p>
  <p><strong>Status:</strong> 
    {% if turmas.status %}
      Ativo
    {% else %}
      Desativado
    {% endif %}
  </p>

  <form id="delete-form" action="{{ url_for('turmas.delete_turma', id_turma=turmas.id) }}" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">Excluir Turma</button>
  </form>
  <a href="{{ url_for('turmas.get_turmas') }}">Voltar para a lista de turmas</a>


</body>

</html>